.card{
    width: 12.2%;
    margin: 1%;
    height: 185px;
    background-color: transparent;
    float: left;
    border-radius: 5px !important;
}
.imagecard{
    height: 100%;
    border-radius: 5px !important;
}