<div class="container-fluid text-light">
    <h3 class="ms-5 mt-4 mb-4">Titulo del juego</h3>
</div>
<div class="row container-fluid">
    <div class="col-md-8 ms-5 bg-danger pantallajuego">
        a
    </div>
    <div class="col-md-3 ms-5 bg-info">

    </div>
</div>
<div class="row container-fluid">
    <div class="col-md-8 ms-5 mt-2 mb-3 contenedorinfo">
        <h4 class="m-5">Información del juego</h4>
        <hr class="ms-4 me-4">
        <div class="m-5 textocontenedor">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae maximus lectus, ut sodales odio. Fusce
            quis ante odio. Nulla auctor pulvinar luctus. Pellentesque est nibh, ullamcorper vel venenatis a,
            condimentum vitae magna. Pellentesque sodales, felis eget tincidunt malesuada, turpis eros finibus libero,
            non luctus tortor urna nec ligula. Praesent malesuada maximus hendrerit. Pellentesque volutpat interdum
            luctus. Donec tempus vulputate nisi a convallis. Quisque id ultrices velit. Morbi fringilla justo non sapien
            ullamcorper efficitur. Nulla turpis enim, efficitur et neque a, rhoncus eleifend dolor. Vivamus nulla
            libero, dignissim vel ultrices in, egestas eget ex. Donec vehicula elit mauris, eu varius orci convallis sit
            amet. Nunc non magna vestibulum, suscipit massa a, sagittis mauris. Donec cursus mi vitae vehicula
            tristique. Pellentesque mollis elit vel enim feugiat malesuada.

            Vivamus ex odio, lobortis vitae pulvinar vel, posuere ut odio. Proin vehicula augue in condimentum cursus.
            Curabitur vel orci sagittis lacus ullamcorper facilisis. Sed posuere bibendum lectus, ac vehicula felis
            imperdiet et. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam ultricies maximus ipsum
            in ultricies. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
            Mauris nec mauris a purus fermentum accumsan sit amet condimentum justo.
        </div>
    </div>
</div>