<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #334756; color: white;">
    <div class="container-fluid">
        <img src="../assets/logo.png" alt="Logo" width="100">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ms-4" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Página Principal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Estrategia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Para pensar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Acción</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Aventura</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Terror</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Buscar Juegos" aria-label="Search">
                <button class="btn btn-fucsia" type="submit"><i class="bi bi-search"></i></button>
            </form>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>